{% extends "html/baseCourse.html" %}
{% load static %}

{% block mainContent %}
<section class="slider-area slider-area2">
    {% include 'html/topBreadcrumb.html' %}
</section>
<div class="section-tittle text-center mb-55">
    <h2>Course Contents</h2>
</div>
<!-- Courses area End -->
<!--? top subjects Area Start -->
<!--table-->
<div class="container mb-4">
    <table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Topic</th>
            <th>Sub Topic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Adjective</td>

            <td>
                <div class="dropdown">
                    <span class="dropbtn">Adjective: Definition & Types <span>&#8595;</span></span>
                    <div class="dropdown-content">
                        <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover"
                            target="_blank">Adjective: Definition & Types</a>
                        <a href="#">Proper Adjectives</a>
                        <a href="#">Interrogative Adjectives</a>
                    </div>
                </div>

            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>Adjective</td>

            <td>
                <div class="dropdown">
                    <span class="dropbtn">Adjective: Definition & Types <span>&#8595;</span></span>
                    <div class="dropdown-content">
                        <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover"
                            target="_blank">Adjective: Definition & Types</a>
                        <a href="#">Proper Adjectives</a>
                        <a href="#">Interrogative Adjectives</a>
                    </div>
                </div>

            </td>
        </tr>


        <tr>
            <td>2</td>
            <td>Word</td>


            <td>


                <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover"
                    target="_blank"> Word: The Definition & Criteria</a>


            </td>

        </tr>



    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Topic</th>
            <th>Sub Topic</th>


        </tr>
    </tfoot>
</table>
</div>
{% endblock mainContent %}