{% extends "baseCourse.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}

{% block mainContent %}
<section class="slider-area slider-area2">
    {% include 'topBreadcrumb.html' %}
</section>
<div class="section-tittle text-center mb-55">
    <h2>Course Contents</h2>
    <div class="search">
        <div class="search-box text-center">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" id='search' placeholder="Type to Search...">
          </div>
    </div>
</div>

<!-- Courses area End -->
<!--? top subjects Area Start -->
<!--table-->

<div class="services-area mt-4">
    <div class="container">
        <div class="row justify-content-sm-center ">
            {% for course  in allCourses %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 w-50 h-100 searchContent" id='{{course.id}}' >
                <div class="single-services mb-30" style="height: 120px !important;">
                    <div class="features-caption">
                        <h3> <b><a href="{% url 'particularCourse' course.slug %}" class="text-primary">{{course.id}}. {{course.topic}}</a></b></h3>
                        <p>{{course.sub_topic}}</p>
                        <p class="text-success">Estimated Time: {{course.estimated_time}} hours</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                      
                    </div>
                    <div class="features-caption">
                        <h3>Sentences</h3>
                        <p><br><br></p>
                    </div>
                </div>
            </div> {% endcomment %}
           
        </div>
    </div>
</div>

<!--

    <div class="container mb-4">
    <table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Topic</th>
            {% comment %} <th>Sub Topic</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% comment %} <tr>
            <td>1</td>
            <td>Adjective</td>

            <td>
                <div class="dropdown">
                    <span class="dropbtn">Adjective: Definition & Types <span>&#8595;</span></span>
                    <div class="dropdown-content">
                        <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover"
                            target="_blank">Adjective: Definition & Types</a>
                        <a href="#">Proper Adjectives</a>
                        <a href="#">Interrogative Adjectives</a>
                    </div>
                </div>

            </td>
        </tr> {% endcomment %}

        {% comment %} <tr>
            <td>1</td>
            <td>Adjective</td>

            <td>
                <div class="dropdown">
                    <span class="dropbtn">Adjective: Definition & Types <span>&#8595;</span></span>
                    <div class="dropdown-content">
                        <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover"
                            target="_blank">Adjective: Definition & Types</a>
                        <a href="#">Proper Adjectives</a>
                        <a href="#">Interrogative Adjectives</a>
                    </div>
                </div>

            </td>
        </tr> {% endcomment %}

        {% for course  in allCourses %}
        <tr>
            <td>{{course.id}}</td>
            
            <td><b><a href="{% url 'particularCourse' course.id %}" class="text-primary">{{course.topic}}</a></b></td>
        </tr>
        {% endfor %}


    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Topic</th>
            {% comment %} <th>Sub Topic</th> {% endcomment %}


        </tr>
    </tfoot>
</table>

-->

</div>


{% endblock mainContent %}