{% extends "html/baseCourse.html" %}
{% load static %}
{% block mainContent %}
 <!--? slider Area Start-->
 <section class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay="0.2s">English practising<br> platform</h1>
                            <p data-animation="fadeInLeft" data-delay="0.4s">Let's Learn English is a learning platform that language schools or other institutions use to complement the work that is done in the classroom with the teacher.</p>
                            <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Join for Free</a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- ? services-area -->
<div class="services-area">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon1.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Skills</h3>
                        <p>Improve your English speaking, listening, reading and writing.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon2.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Grammar</h3>
                        <p>Practise verb tenses and grammar rules.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon3.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Vocabulary</h3>
                        <p>Learn new words to understand and express yourself clearly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses area start -->
<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Recommended content </h2>
                </div>
            </div>
        </div>
        <div class="courses-actives">
          
             <!-- Single -->
             <div class="properties pb-20">
                <div class="properties__card">
                    <!-- <div class="properties__img overlay1">
                        <a href="#"><img src="{% static 'img/gallery/featured2.png' %}" alt=""></a>
                    </div> -->
                    <div class="properties__caption">
                        <p>Word For The Day</p>
                        <h3><a href="#"></a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                        </div>
                        <a href="#" class="border-btn border-btn2">Find out more</a>
                    </div>

                </div>
            </div>
            <!-- Single -->

             <!-- Single -->
             <div class="properties pb-20">
                <div class="properties__card">
                    <!-- <div class="properties__img overlay1">
                        <a href="#"><img src="{% static 'img/gallery/featured2.png' %}" alt=""></a>
                    </div> -->
                    <div class="properties__caption">
                        <p>Word For The Day</p>
                        <h3><a href="#"></a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                        </div>
                        <a href="#" class="border-btn border-btn2">Find out more</a>
                    </div>

                </div>
            </div>
            <!-- Single -->

             <!-- Single -->
             <div class="properties pb-20">
                <div class="properties__card">
                    <!-- <div class="properties__img overlay1">
                        <a href="#"><img src="{% static 'img/gallery/featured2.png' %}" alt=""></a>
                    </div> -->
                    <div class="properties__caption">
                        <p>Word For The Day</p>
                        <h3><a href="#"></a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                        </div>
                        <a href="#" class="border-btn border-btn2">Find out more</a>
                    </div>

                </div>
            </div>
            <!-- Single -->
           
            <!-- Single -->
            <div class="properties pb-20">
                <div class="properties__card">
                    <!-- <div class="properties__img overlay1">
                        <a href="#"><img src="{% static 'img/gallery/featured2.png' %}" alt=""></a>
                    </div> -->
                    <div class="properties__caption">
                        <p>Word For The Day</p>
                        <h3><a href="#"></a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                        </div>
                        <a href="#" class="border-btn border-btn2">Find out more</a>
                    </div>

                </div>
            </div>
            <!-- Single -->
        </div>
    </div>
</div>
<!-- Courses area End -->
<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10">
    <div class="support-wrapper align-items-center">
        <div class="left-content1">
            <div class="about-icon">
                <img src="{% static 'img/icon/about.svg' %}" alt="">
            </div>
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">Why Learn English Grammar?</h2>
                    <p>The number of native and second-language speakers of English makes it the most widely used language in the world to date and that has peaked the importance of learning it. </p>
                    <p>The five basic components of grammar in the English language are listed below:</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Phonology</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Morphology</p>
                </div>
            </div>

            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Syntax</p>
                </div>
            </div>

            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Semantics</p>
                </div>
            </div>

            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Pragmatics</p>
                </div>
            </div>

        </div>
        <div class="right-content1">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/about.png' %}" alt="">

                <div class="video-icon" >
                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=LZ0v9A5iEG4"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
<!--? top subjects Area Start -->

<!-- top subjects End -->
<!--? About Area-3 Start -->
<section class="about-area3 fix">
    <div class="support-wrapper align-items-center">
        <div class="right-content3">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/about3.png' %}" alt="">
            </div>
        </div>
        <div class="left-content3">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-20">
                <div class="front-text">
                    <h2 class="">The chief importance of learning English Grammar</h2>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Know the Distinct Features of Language.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Learn the Correct Spellings and Pronunciations.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>The Formation, Meaning Making and Usage of Words.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Structure and Meaning of Sentences.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->


<!--? About Area-2 Start -->
<section class="about-area2 fix pb-padding">
    <div class="support-wrapper align-items-center">
        <div class="right-content2">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/about2.png' %}" alt="">
            </div>
        </div>
        <div class="left-content2">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-20">
                <div class="front-text">
                    <h2 class="">Revise and practise your grammar to help you increase your confidence and improve your language level.</h2>
                    <a href="#" class="btn">Join now for Free</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
{% endblock mainContent %}