<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LEV | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icons.ico' %}">
    
    <!-- CSS here -->
    {% include 'cssLink.html' %}
    {% block css %}{% endblock css %}
</head>

<body>
    <!-- ? Preloader Start -->
    {% include 'preloader.html' %}
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        {% include 'header.html' %}
        <!-- Header End -->
    </header>

    <main>
       {% block mainContent %}{% endblock mainContent %}
    </main>
    
    <footer>
     {% include 'footer.html' %}
  </footer> 

  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

<!-- JS here -->
{% include 'jsLinks.html' %}

</body>
</html>