{% load static %}
<div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-25">
                                <a href="index.html"><img src="{% static 'img/logo/epp.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Discover your current English level by taking our free online English test.</p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="https://www.instagram.com/sumanraj.khanal/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.facebook.com/suman.khanal123"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://np.linkedin.com/in/suman-raj-khanal-87330b1b4"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>For Students</h4>
                            <ul>
                                <li><a href="#">Self-paced courses</a></li>
                                <li><a href="#">Beginner courses</a></li>
                                <li><a href="#">Online Activities</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Grammar Courses</a></li>
                                <li><a href="#">Grammar Tests</a></li>
                                <li><a href="#">Conversational AI</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Get Connected</h4>
                            <ul>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <h4 class="text-white">
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved | Lern English Virtually | A English Practicing Platform by <a href="https://github.com/srksuman" target="_blank">Suman Raj Khanal</a>
                            </h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </div>