{% load static %}
<div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-25 text-center   ">
                                
                                <a href="{% url 'mainCourse'  %}"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle text-center">
                                <div class="footer-pera">
                                    <p>Discover your current English level by taking our free online English test.</p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social text-center">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>For Students</h4>
                            <ul>
                                <li><a href="#">Self-paced courses</a></li>
                                <li><a href="#">Beginner courses</a></li>
                                <li><a href="#">Online Activities</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Grammar Courses</a></li>
                                <li><a href="#">Grammar Tests</a></li>
                                <li><a href="#">Conversational AI</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Get Connected</h4>
                            <ul>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Learn English Virtually <br>
                              learnenglishvirtually2078@gmail.com
                           </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </div>