{% extends 'baseCourse.html' %}
{% comment %} {% extends "courses/templates/html/baseCourses" %} {% endcomment %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'test/css/top.css' %}">{% endblock css %}

{% block mainContent %}
<div class="container ">
    <div class="row ">
       <p class="m-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem corporis ad pariatur sequi quia laboriosam sit provident quo recusandae optio ratione fugiat ducimus, aliquam, maiores similique cumque magnam obcaecati soluta earum, ipsum deleniti autem voluptas harum! Aperiam rem rerum consectetur cupiditate, at eveniet, dignissimos quis cumque, laudantium beatae et sed. Aperiam cupiditate tenetur consectetur saepe eius, impedit, quo eveniet assumenda id rem distinctio! Repellat explicabo deserunt omnis corporis. Velit ab optio porro voluptatem possimus maiores, distinctio mollitia officiis earum tempore consequatur saepe laboriosam pariatur non, deserunt veniam harum neque, hic quod rem quis officia alias delectus corrupti. Sunt, totam minus!
       </p>
    </div>
</div>
{% endblock mainContent %}