    {% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock css %}
{% block content %}
 <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h4 class="form-title">Password Reset Complete</h4>
                        <p >
                            Your password has been set. You may go ahead and log in now.                            
                            </p>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/completed.png' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}">Login</a> 
                    </div>
                </div>
            </div>
        </section>
  
{% endblock content %}




