{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock css %}
{% block content %}
 <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h4 class="form-title">Password Reset</h4>
                        <form method="POST" class="register-form" id="register-form" novalidate>
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                                <small class="text-danger">{{form.email.errors|striptags}}</small>
                                
                            </div>
                            <div class="text-danger mt-3">
           {% for error in  form.non_field_errors  %}
         {{error}}
  {% endfor %}
           </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Reset Password"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/resetEmail.jpg' %}" alt="sing up image"></figure>
                        <p> Password reset instructions will be sent to this email address.
                        </p>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}




{% comment %} {% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/reset_pd.css' %}">{% endblock css %}
{% block content %}

<!---->
<div class="container mt-md-5">
 <div class="card card-outline-secondary ">
                        <div class="card-header">
                            <h3 class="mb-0">Password Reset</h3>
                        </div>
                        <div class="card-body">
                        <form method='POST' novalidate>
                        {% csrf_token %}
                        {{form.email}} 
                        {{form.email.errors}}
                        <br>
                        <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                            Password reset instructions will be sent to this email address.
                                        </span><br>
                        <input type="submit" value="Send Email" class="btn btn-success ">
                        </form>
                        </div>
                    </div>
</div>
{% endblock content %} {% endcomment %}