{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/reset_pd.css' %}">{% endblock css %}
{% block content %}

<!---->
<div class="container mt-md-5">
 <div class="card card-outline-secondary ">
                        <div class="card-header">
                            <h3 class="mb-0">Password Reset</h3>
                        </div>
                        <div class="card-body">
                        <form method='POST' novalid>
                        {% csrf_token %}
                        {{form}} <br>
                        <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                            Password reset instructions will be sent to this email address.
                                        </span><br>
                        <input type="submit" value="Send Email" class="btn btn-success ">
                        </form>
                        </div>
                    </div>
</div>
{% endblock content %}