{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'breadcrumb.html' %}
<div class="services-area services-area2 section-padding40">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon1.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Skills</h3>
                        <p>Improve your English speaking, listening, reading and writing. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon2.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Grammar</h3>
                        <p>Practise verb tenses and grammar rules. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="{% static 'img/icon/icon3.svg' %}" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Vocabulary</h3>
                        <p>Learn new words to understand and express yourself clearly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10">
    <div class="support-wrapper align-items-center">
        <div class="left-content1">
            <div class="about-icon">
                <img src="{% static 'img/icon/about.svg' %}" alt="">
            </div>
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">Learn new skills online with top educators</h2>
                    <p>The automated process all your website tasks. Discover tools and 
                        techniques to engage effectively with vulnerable children and young 
                    people.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Techniques to engage effectively with vulnerable children and young people.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world  learning together.</p>
                </div>
            </div>

            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                </div>
            </div>
        </div>
        <div class="right-content1">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/about.png' %}" alt="">

                <div class="video-icon" >
                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<!--? About Area-3 Start -->
<section class="about-area3 fix">
    <div class="support-wrapper align-items-center">
        <div class="right-content3">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/about3.png' %}" alt="">
            </div>
        </div>
        <div class="left-content3">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-20">
                <div class="front-text">
                    <h2 class="">Learner outcomes on courses you will take</h2>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Techniques to engage effectively with vulnerable children and young people.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world
                    learning together.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="{% static 'img/icon/right-icon.svg' %}" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world learning together.
                    Online learning is as easy and natural.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
<!--? Team -->
<section class="team-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Community experts</h2>
                </div>
            </div>
        </div>
        <div class="team-active">
            
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="{% static 'img/gallery/team3.png' %}" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="#">Mr. Suman Raj Khanal</a></h5>
                    <p>Senior Developer of Learn English Virtually.</p>
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="{% static 'img/gallery/team2.png' %}" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="#">Ms. Priya Tamang</a></h5>
                    <p>Course Content Designer.</p>
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="{% static 'img/gallery/about1.png' %}" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="#">Mr. Atit Basnet</a></h5>
                    <p>Course designer and content writer.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}