{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'breadcrumb.html' %}

<section class="contact-section">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
           
            <script>
                function initMap() {
                    var uluru = {
                        lat: -25.363,
                        lng: 131.044
                    };
                    var grayStyles = [{
                        featureType: "all",
                        stylers: [{
                            saturation: -90
                        },
                        {
                            lightness: 50
                        }
                        ]
                    },
                    {
                        elementType: 'labels.text.fill',
                        stylers: [{
                            color: '#ccdee9'
                        }]
                    }
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -31.197,
                            lng: 150.744
                        },
                        zoom: 9,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }
            </script> 
            {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
            </script> {% endcomment %}

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14126.694361017975!2d85.3971714226944!3d27.727362668358488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1b0d92a584c7%3A0xc3c7994e54d83e0!2sThali%2C%20Kageshwari%20Manohara%2044600!5e0!3m2!1sen!2snp!4v1643921247581!5m2!1sen!2snp" width="100%" style="border:1;" allowfullscreen="" loading="lazy" class="h-lg-100 h-md-50"></iframe>
            
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                
                <form class="form-contact contact_form" action="" method="post" id="contactForm" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{form.message}}
                                <span class="text-danger">{{form.message.errors|striptags}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{form.name}}
                               <span class="text-danger"> {{form.name.errors|striptags}}</span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{form.email}}
                                <span class="text-danger">{{form.email.errors|striptags}}</span>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{form.Subject}}
                                <span class="text-danger">{{form.Subject.errors|striptags}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" id= "send-contact" class="btnn btn-outline-primary" value="Send">
   
                    </div>
                </form>

                {% for err  in form.non_field_errors %}
                {{err}}
                {% endfor %}
                
                {% for msg in messages %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Thank You!</h4>
                    {{msg}}
                  </div>
                  {% endfor %}

            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Buttonwood, California.</h3>
                        <p>Rosemead, CA 91770</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+1 253 565 2365</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@colorlib.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'course/js/form_data.js' %}"></script>
{% endblock js %}