.demo-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h1-tag{
    font-size: larger !important ;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}